.checkout {
    width: 150px;
    background-color: #ffffff;
    border-radius: 4px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #7f7979;
}

.checkoutTotal {
    margin-top: 15px;
    font-size: 1.5em;
}

.number {
    text-align: center;
    font-size: 1.5em;
    color: #a7c17d;
}

.checkoutButton {
    height: 60px;
    width: 100%;
    cursor: pointer;
    background-color: #8abcef;
    border: 1px solid #babec1;
    border-radius: 4px;
    transition: transform 0.3s;
    font-weight: bold;
    color: #ffffff;
}

.checkoutButton:active {
    outline: none;
    transform: scale(0.9);
}

.checkoutButton:focus {
    outline: none;
}
