.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    padding: 3px 3px 3px 10px;
}

.input:focus {
    outline: none;
    border: 1px solid #3f84ab;
}
