.shoppingCart {
    background-color: #edf3f9;
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    min-height: 750px;
    padding-bottom: 30px;
    /*min-height: 800px;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex: 1;*/
    /*border-radius: 4px;*/
    /*padding: 15px 10px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

.header {
    text-align: center;
    background-color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    padding: 30px 0;
    margin-bottom: 70px;
    box-shadow: 0 -4px 13px 0 #b5b5b5;
    color: #3f84ab;
}

.midSection {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    /*margin-bottom: 40px;*/
}
