.shoppingCart {
    background-color: #edf3f9;
    min-height: 750px;
    padding-bottom: 30px;
    height: 100%;
}

.header {
    text-align: center;
    background-color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    padding: 30px 0;
    margin-bottom: 70px;
    box-shadow: 0 -4px 13px 0 #b5b5b5;
    color: #3f84ab;
}

.midSection {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.emptyCart {
    font-size: 25px;
    width: 100%;
    color: #d98585;
    text-align: center;
    padding-top: 40px;
}
