.item {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
}

.imgContainer {
    width: 170px;
    display: flex;
    justify-content: center;
}

.itemName {
    margin: 0 auto 0 20px;
    font-size: 1.5em;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper {

}

.controls {
    display: flex;
    margin-bottom: 10px;
}

.button {
    width: 40px;
    height: 50px;
    cursor: pointer;
    background-color: #f1f5f9;
    border: 1px solid #babec1;
    border-radius: 4px;

}

.remove {
    border: none;
    background-color: #ffffff;
    padding: 0;
    color: #5b84d2;
    margin-left: auto;
    cursor: pointer;
}

.counter {
    border: 1px solid #e4e4e4;
    margin: 0 7px;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
}

.total {
    margin-top: auto;
    margin-left: auto;
    /*margin: 0 auto;*/
}
